body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.eot');
  src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bricks';
  src: url('../fonts/Bricks.eot');
  src: url('../fonts/Bricks.eot?#iefix') format('embedded-opentype'), url('../fonts/Bricks.woff') format('woff'), url('../fonts/Bricks.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background: #020025 url(../img/bg.jpg) no-repeat bottom center / cover;
  text-rendering: optimizeSpeed;
  position: relative;
}

.container {
  position: relative;
}

.section-title {
  margin-bottom: 70px;
  font-family: 'Bricks';
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  text-transform: uppercase;
}

.section-wrapper {
  max-width: 50%;
}

.section-text {
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 22px;
}

.section-text h3 {
  margin-bottom: 7px;
  font-size: 46px;
  font-weight: 500;
  line-height: 45px;
  text-transform: uppercase;
}

.section-text p + p {
  margin-top: 6px;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */

*:focus:not(:focus-visible) {
  outline: none !important;
}

input[type='submit'] {
  -webkit-appearance: none;
  appearance: none;
}

@-webkit-keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 #ff0000;
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 #ff0000;
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes pulse-yellow {
  0% {
    box-shadow: 0 0 0 0 #ffff00;
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-yellow {
  0% {
    box-shadow: 0 0 0 0 #ffff00;
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.btn {
  display: inline-block;
  padding: 20px 25px;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-yellow {
  background-color: #EFC807;
}

.btn-yellow:hover {
  background-color: #FFDB26;
  text-shadow: 0px 0px 1px #E4A416;
}

.btn-yellow:active {
  background-color: #F0BB00;
}

.btn-red {
  background-color: #D82776;
}

.btn-red:hover {
  background-color: #EC3B8A;
}

.btn-red:active {
  background-color: #C41362;
}

.btn-green {
  background-color: #1FE5D7;
}

.btn-green:hover {
  background-color: #26FFF0;
}

.btn-green:active {
  background-color: #0BD1C3;
}

.form__input {
  margin-bottom: 8px;
  padding: 20px 25px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid transparent;
  width: 100%;
}

.form__input:active,
.form__input:focus {
  border-color: #EFC807;
}

.form__btn {
  width: 100%;
}

.popup {
  max-width: 334px;
  padding: 20px;
  color: #ffffff;
  background-color: #453B8E;
  border-radius: 15px;
}

.popup__title {
  margin-bottom: 20px;
  width: 90%;
  font-size: 18px;
  line-height: 21px;
}

.popup__text {
  margin-bottom: 20px;
  font-size: 16px;
}

.popup__text p + p {
  margin-top: 6px;
}

.popup__image {
  width: 100%;
  height: 165px;
  margin-bottom: 20px;
}

.popup__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.popup .btn {
  font-size: 16px;
}

.popup .directions__popup,
.popup .directions__show {
  display: none;
}

.fancybox__content > .carousel__button.is-close {
  top: 18px;
  right: 12px;
}

.carousel__button svg {
  stroke: #EFC807;
  stroke-width: 5px;
}

.header {
  padding: 37px 0;
}

.header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .btn {
  font-size: 16px;
  padding: 10px 20px;
}

.header__menu {
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.header__menu a {
  display: block;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
  transition: color 0.5s ease;
}

.header__menu a:hover,
.header__menu a:active,
.header__menu a:focus {
  color: #EFC807;
}

.header__menu.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__menu.open a {
  padding: 20px 0;
  font-size: 18px;
  text-transform: uppercase;
}

.header__burger {
  display: none;
  z-index: 13;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 20px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.header__burger:focus {
  outline: none;
}

.header__burger > span {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #ffffff;
  position: relative;
  transition: background 0.5s 0.5s;
}

.header__burger > span:before,
.header__burger > span:after {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  background: #ffffff;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s 0.5s, transform 0.5s;
  transition: top 0.5s 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.header__burger > span:before {
  width: 27px;
  top: -7px;
}

.header__burger > span:after {
  width: 14px;
  top: 7px;
}

.header__burger--close {
  position: relative;
  z-index: 15;
}

.header__burger--close > span {
  transition: background 0.5s;
  background: transparent;
}

.header__burger--close > span:before,
.header__burger--close > span:after {
  width: 100%;
  transition: top 0.5s, -webkit-transform 0.5s 0.5s;
  transition: top 0.5s, transform 0.5s 0.5s;
  transition: top 0.5s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  top: 0;
  background-color: #ffffff;
}

.header__burger--close > span:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
}

.header__burger--close > span:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
}

.hero {
  background: url(../img/hero-bg.svg) no-repeat center;
}

.hero__content {
  padding-top: 128px;
  padding-bottom: 147px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__slogan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.hero__slogan span {
  margin-top: 50px;
}

.hero__title {
  margin: 50px auto 44px;
  max-width: 450px;
  font-family: 'Bricks';
  font-weight: 400;
  font-size: 51px;
  line-height: 59px;
  text-align: center;
  letter-spacing: 0.07em;
}

.hero .btn {
  -webkit-animation: pulse-yellow 2s infinite;
          animation: pulse-yellow 2s infinite;
}

.hero-img-1 {
  max-width: 500px;
}

.hero-img-2 {
  position: absolute;
  top: 14%;
  left: 8%;
}

.hero-img-3 {
  position: absolute;
  top: 3%;
  left: 30%;
}

.hero-img-4 {
  position: absolute;
  top: 3%;
  right: 1%;
}

.meta {
  padding-bottom: 190px;
}

.meta .section-wrapper {
  margin-left: auto;
}

.meta-img-1 {
  position: absolute;
  top: 280px;
  left: 0;
  z-index: -1;
}

.meta-img-2 {
  position: absolute;
  top: 80px;
  left: 27%;
  z-index: -1;
}

.meta-img-3 {
  position: absolute;
  top: 92px;
  left: 8%;
  z-index: -1;
}

.meta-img-4 {
  position: absolute;
  top: 417px;
  left: 29%;
  z-index: -1;
}

.meta-img-5 {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: -1;
}

.meta-img-6 {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: -1;
  display: none;
}

.case {
  padding-bottom: 92px;
}

.case__slider {
  margin-bottom: 55px;
  width: 60%;
}

.case__slide {
  padding: 60px 60px 56px;
  background: #63148C;
  border-radius: 15px;
}

.case__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
}

.case__descr {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.case__text {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(58.333333333333336% - 30px);
}

.case__text p + p {
  margin-top: 6px;
}

.case__img {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66666666666667% - 30px);
  border-radius: 29px;
}

.case__img img {
  border-radius: 29px;
}

.case .swiper-slide-active {
  background: #B232A9;
  box-shadow: 0px 4px 51px 43px rgba(0, 0, 0, 0.25);
}

.case .swiper-slide-active .case__img img {
  border: 3px solid #FFADF2;
  box-shadow: 0px 0px 17px 12px #EF44D4, inset 0px 0px 18px 8px rgba(0, 0, 0, 0.25);
  -webkit-filter: drop-shadow(0px 0px 7px #FFD1F8);
          filter: drop-shadow(0px 0px 7px #FFD1F8);
}

.case__all {
  display: block;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.case-button-prev,
.case-button-next {
  position: absolute;
  right: 0;
  top: 105%;
  z-index: 2;
  cursor: pointer;
}

.case-button-prev {
  right: 10%;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.case-pagination {
  display: none;
  position: absolute;
  bottom: -30px !important;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #34C8CB;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #26FFF0;
}

.directions {
  padding-bottom: 117px;
}

.directions__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.directions__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.directions__picture {
  position: relative;
  margin-bottom: 17px;
}

.directions__img {
  display: block;
  height: 370px;
  border-radius: 15px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.9) 5.73%, rgba(0, 0, 0, 0) 44.27%);
  transition: all 0.3s ease;
  cursor: pointer;
}

.directions__img:hover {
  -webkit-transform: translateY(-5px) scale(1.02);
          transform: translateY(-5px) scale(1.02);
}

.directions__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.directions__name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 6px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.directions__popup {
  display: block;
  margin-bottom: 8px;
  margin-top: auto;
}

.directions__show {
  display: block;
}

.about {
  padding-bottom: 172px;
}

.about-img-1 {
  position: absolute;
  right: 155px;
  top: 102px;
  z-index: -1;
}

.about-img-2 {
  position: absolute;
  right: 452px;
  top: 2px;
  z-index: -1;
}

.about-img-3 {
  position: absolute;
  right: 61px;
  top: 12px;
  z-index: -1;
}

.collab {
  padding-bottom: 411px;
}

.collab-img-1 {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: -1;
}

.collab-img-2 {
  position: absolute;
  top: 102%;
  right: 0;
}

.footer {
  padding-top: 57px;
  padding-bottom: 100px;
  color: #ffffff;
  background-color: #000021;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  text-decoration: underline;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 60px;
}

.footer__logo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
}

.footer__menu {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66666666666667% - 30px);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 22px;
  line-height: 26px;
}

.footer__menu li {
  margin-bottom: 10px;
}

.footer__menu li + li {
  margin-left: 43px;
}

.footer__bottom a {
  display: block;
  font-size: 20px;
  text-decoration: underline;
}

.footer__bottom a + a {
  margin-top: 13px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    max-width: 120px;
  }

  .header .btn {
    display: none;
  }

  .case__slider {
    width: 95%;
  }

  .directions__item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .section-title {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 37px;
  }

  .section-wrapper {
    max-width: 100%;
  }

  .section-text {
    margin-bottom: 40px;
    max-width: 100%;
    font-size: 16px;
  }

  .section-text h3 {
    font-size: 16px;
    line-height: 23px;
  }

  .btn {
    font-size: 16px;
  }

  .header__menu {
    text-align: center;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    display: none;
    -webkit-transform-origin: top;
            transform-origin: top;
    transition: all 0.5s ease-in-out;
    display: flex;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 12;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 10px;
    color: #ffffff;
    background-color: #0A032B;
    border-radius: 0px 0px 15px 15px;
  }

  .header__burger {
    display: block;
    display: flex;
  }

  .hero {
    background: url(../img/hero-bg-mob.svg) no-repeat center top / 100%;
  }

  .hero__content {
    padding-top: 70px;
  }

  .hero__slogan {
    flex-direction: column;
    font-size: 18px;
    line-height: 21px;
  }

  .hero__slogan-right {
    order: 2;
  }

  .hero__slogan-left {
    order: 1;
  }

  .hero__slogan span {
    margin-top: 0;
  }

  .hero__title {
    max-width: 100%;
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 35px;
  }

  .hero-img-1 {
    margin-top: 20px;
    width: 192px;
    height: 118px;
    order: 3;
  }

  .hero-img-2 {
    display: none;
  }

  .hero-img-3 {
    display: none;
  }

  .hero-img-4 {
    display: none;
  }

  .meta .section-text p,
  .meta .section-text h3 {
    margin-bottom: 30px;
  }

  .meta .section-text {
    margin-bottom: 150px;
  }

  .meta-img-1 {
    width: 453px;
    height: 453px;
    left: unset;
    right: -80%;
    top: 15%;
  }

  .meta-img-2 {
    width: 119px;
    height: 172px;
    left: unset;
    right: 0;
    top: 2%;
  }

  .meta-img-3 {
    display: none;
  }

  .meta-img-4 {
    display: none;
  }

  .meta-img-5 {
    top: unset;
    bottom: 0;
  }

  .meta-img-6 {
    display: block;
  }

  .case__slide {
    padding: 20px;
  }

  .case__title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .case__text {
    font-size: 16px;
    line-height: 19px;
  }

  .case__img {
    text-align: center;
  }

  .case__img img {
    max-height: 278px;
  }

  .directions {
    padding-bottom: 80px;
  }

  .about {
    padding-bottom: 285px;
    background: url(../img/about-bg.svg) no-repeat bottom center;
  }

  .about-img-1 {
    width: 184px;
    height: 187px;
    right: unset;
    left: 0;
    top: 110%;
  }

  .about-img-2 {
    width: 81px;
    height: 108px;
    right: unset;
    left: 0;
    top: 102%;
  }

  .about-img-3 {
    width: 65px;
    height: 65px;
    right: 40%;
    top: 102%;
  }

  .collab-img-1 {
    width: 360px;
    height: 360px;
    top: 254px;
    right: -180px;
  }

  .collab-img-2 {
    width: 526px;
    height: 220px;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
    right: unset;
    left: -250px;
  }

  .footer {
    padding-top: 80px;
    padding-bottom: 64px;
  }

  .footer__logo {
    width: calc(100% - 30px);
  }

  .footer__logo {
    margin-bottom: 60px;
  }

  .footer__menu {
    width: calc(100% - 30px);
  }

  .footer__menu {
    font-size: 16px;
    line-height: 19px;
    display: block;
  }

  .footer__menu li + li {
    margin-left: 0;
  }

  .footer__bottom a {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .popup .directions__popup,
  .popup .directions__show {
    display: block;
  }

  .case__text {
    width: calc(100% - 30px);
  }

  .case__img {
    width: calc(100% - 30px);
  }

  .case__img {
    order: -1;
    margin-bottom: 30px;
  }

  .case__all {
    text-align: right;
  }

  .case-button-prev,
  .case-button-next {
    display: none;
  }

  .case-pagination {
    display: block;
  }

  .directions__img {
    height: 165px;
    background: none;
  }

  .directions__name {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    position: static;
    text-align: left;
  }

  .directions__popup {
    display: none;
  }

  .directions__show {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}