body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.eot');
  src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bricks';
  src: url('../fonts/Bricks.eot');
  src: url('../fonts/Bricks.eot?#iefix') format('embedded-opentype'), url('../fonts/Bricks.woff') format('woff'), url('../fonts/Bricks.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background: #020025 url(../img/bg.jpg) no-repeat bottom center / cover;
  text-rendering: optimizeSpeed;
  position: relative;
}

.container {
  position: relative;
}

.section-title {
  margin-bottom: 70px;
  font-family: 'Bricks';
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  text-transform: uppercase;
}

.section-text {
  max-width: 50%;
  font-size: 20px;
  line-height: 22px;
}

.section-text p + p {
  margin-top: 6px;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */

*:focus:not(:focus-visible) {
  outline: none !important;
}

.btn {
  display: inline-block;
  padding: 20px 40px;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
}

.btn-yellow {
  background-color: #EFC807;
}

.btn-yellow:hover {
  background-color: #FFDB26;
  text-shadow: 0px 0px 1px #E4A416;
}

.btn-yellow:active {
  background-color: #F0BB00;
}

.hero {
  min-height: 4900px;
}

.about {
  padding-bottom: 172px;
}

.about-img-1 {
  position: absolute;
  right: 155px;
  top: 102px;
  z-index: -1;
}

.about-img-2 {
  position: absolute;
  right: 452px;
  top: 2px;
  z-index: -1;
}

.about-img-3 {
  position: absolute;
  right: 61px;
  top: 12px;
  z-index: -1;
}

.collab {
  padding-bottom: 411px;
}

.collab .section-text {
  margin-bottom: 45px;
}

.collab-img-1 {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: -1;
}

.collab-img-2 {
  position: absolute;
  top: 102%;
  right: 0;
}

.footer {
  padding-top: 57px;
  padding-bottom: 100px;
  color: #ffffff;
  background-color: #000021;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  text-decoration: underline;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 60px;
}

.footer__logo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
}

.footer__menu {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66666666666667% - 30px);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 22px;
  line-height: 26px;
}

.footer__menu li {
  margin-bottom: 10px;
}

.footer__menu li + li {
  margin-left: 43px;
}

.footer__bottom a {
  display: block;
  font-size: 20px;
  text-decoration: underline;
}

.footer__bottom a + a {
  margin-top: 13px;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .section-title {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 37px;
  }

  .section-text {
    max-width: 100%;
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
  }

  .about {
    padding-bottom: 285px;
    background: url(../img/about-bg.svg) no-repeat bottom center;
  }

  .about-img-1 {
    width: 184px;
    height: 187px;
    right: unset;
    left: 0;
    top: 110%;
  }

  .about-img-2 {
    width: 81px;
    height: 108px;
    right: unset;
    left: 0;
    top: 102%;
  }

  .about-img-3 {
    width: 65px;
    height: 65px;
    right: 40%;
    top: 102%;
  }

  .collab .section-text {
    margin-bottom: 40px;
  }

  .collab-img-1 {
    width: 360px;
    height: 360px;
    top: 254px;
    right: -180px;
  }

  .collab-img-2 {
    width: 526px;
    height: 220px;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
    right: unset;
    left: -250px;
  }

  .footer {
    padding-top: 80px;
    padding-bottom: 64px;
  }

  .footer__logo {
    width: calc(100% - 30px);
  }

  .footer__logo {
    margin-bottom: 60px;
  }

  .footer__menu {
    width: calc(100% - 30px);
  }

  .footer__menu {
    font-size: 16px;
    line-height: 19px;
    display: block;
  }

  .footer__menu li + li {
    margin-left: 0;
  }

  .footer__bottom a {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}